<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Choose a Category</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<!--     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 -->    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      
<!--     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css" rel="stylesheet" />
      


    <style>

/** {
    box-sizing: border-box;
}
*/

ul.list-group.list-group-hover li:hover{
    background: #377BB5;
}

.center {
    padding: 30px 0;

}
        


.float-left-child {
  float: left;
}




</style>
  </head>
  <body>
    <div style="padding-top: 5%" class="container">



<!--       <div class="row"> -->

<!--         <div class="col-8"> -->

            <div class="row">
            <div class="col-10">
              <h3>Please select 1 to 8 topics similar to what you want to listen to in podcasts</h3>
            </div>

            <div class="col-2">
              <button onClick="clickFunction()" class="btn btn-info">Next</button>
            </div>
          </div>

          <div class="ui divider"></div>

    <div class="row">
        <div class="col-3">
  
          <ul class = "list-group list-group-hover">
           
            <li style="height: 40px" class="list-group-item">Arts & Literature</li>
            <li style="height: 40px" class="list-group-item">Business</li>    
            <li style="height: 40px" class="list-group-item">Comedy</li> 
            <li style="height: 40px" class="list-group-item">Education</li> 
            <li style="height: 40px" class="list-group-item">Food</li> 
            <li style="height: 40px" class="list-group-item">Fashion & Beauty</li>  
            <li style="height: 40px" class="list-group-item">Games & Hobbies</li> 
            <li style="height: 40px" class="list-group-item">Government & Organization</li>   
            <li style="height: 40px" class="list-group-item">Health</li>   
            <li style="height: 40px" class="list-group-item">Kids & Family</li> 
            <li style="height: 40px" class="list-group-item">Music</li> 
            <li style="height: 40px" class="list-group-item">News & Politics</li> 
            <li style="height: 40px" class="list-group-item">Religion & Spirituality</li>
            <li style="height: 40px" class="list-group-item">Science & Medicine</li>
            <li style="height: 40px" class="list-group-item">Society & Culture</li> 
            <li style="height: 40px" class="list-group-item">Sports & Recreation</li>
            <li style="height: 40px" class="list-group-item">TV & Film</li>
            <li style="height: 40px" class="list-group-item">Technology</li>                                                                                                                                                                                   
          </ul>
        </div>



        <div class="col-8">

          <ul class = "list-group">
             <li style="height: 40px; border: none;" class="list-group-item">
              <div class="ui left pointing label">Literature, Design, Performing Arts, Visual Arts</div>
             </li>
             <li style="height: 40px; border: none;" class="list-group-item">
              <div class="ui left pointing label">Careers, Investing, Management & Marketing, Business News, Shopping</div>
             </li>
             <li style="height: 40px; border: none;" class="list-group-item"><span style="color: white;">empty</span>
             </li>
             <li style="height: 40px; border: none;"  class="list-group-item">
              <div class="ui left pointing label">K-12, Higher Education, Educational Technology, Language Courses, Training</div>
             </li>
              <li style="height: 40px; border: none;"  class="list-group-item"><span style="color: white;">empty</span>
             </li>
             <li style="height: 40px; border: none;"  class="list-group-item"><span style="color: white;">empty</span>
             </li>             
             <li style="height: 40px; border: none;"  class="list-group-item">
              <div class="ui left pointing label">Video Games, Automotive, Aviation, Hobbies, Other Games</div>
             </li>
             <li style="height: 40px; border: none;"  class="list-group-item">
              <div class="ui left pointing label">National, Regional, Local, Non-Profit</div>
             </li>
             <li style="height: 40px; border: none;"  class="list-group-item">
              <div class="ui left pointing label">Fitness & Nutrition, Self-Help, Sexuality, Alternative Health</div>
             </li>
             <li style="height: 40px; border: none;"  class="list-group-item"><span style="color: white;">empty</span>
             </li>
             <li style="height: 40px; border: none;"  class="list-group-item"><span style="color: white;">empty</span>
             </li>
             <li style="height: 40px; border: none;"  class="list-group-item"><span style="color: white;">empty</span>
             </li>
             <li style="height: 40px; border: none;"  class="list-group-item">
              <div class="ui left pointing label">Buddhism, Christianity, Islam, Judaism, Spirituality, Hinduism, Other</div>
             </li>
             <li style="height: 40px; border: none;"  class="list-group-item">
              <div class="ui left pointing label">Natural Sciences, Medicine, Social Sciences</div>
             </li>
             <li style="height: 40px; border: none;"  class="list-group-item">
              <div class="ui left pointing label">Personal Journals, Places & Travel, Philosophy, History</div>
             </li>
             <li style="height: 40px; border: none;"  class="list-group-item">
              <div class="ui left pointing label">Outdoor, Professional, College & High School, Amateur</div>
             </li>
             <li style="height: 40px; border: none;"  class="list-group-item"><span style="color: white;">empty</span>
             </li>     
             <li style="height: 40px; border: none;"  class="list-group-item">
              <div class="ui left pointing label">Gadgets, Tech News, Podcasting, Software How-to</div>
             </li>                                                                                                                                         

          </ul>



<!--           <div class="ui left pointing label">Food, Literature, Design, Performing Arts, Visual Arts, Fashion & Beauty</div>
          <br><br>
          <div class="ui left pointing label">Careers, Investing, Management & Marketing, Business News, Shopping</div>
          <br><br>
          <br><br>
          <div class="ui left pointing label">K-12, Higher Education, Educational Technology, Language Courses, Training</div>
          <br><br> 
          <div class="ui left pointing label">Video Games, Automotive, Aviation, Hobbies, Other Games</div>
          <br><br>
          <div class="ui left pointing label">National, Regional, Local, Non-Profit</div>
          <br><br>
          <div class="ui left pointing label">Fitness & Nutrition, Self-Help, Sexuality, Alternative Health</div>
          <br><br>
          <br><br>
          <br><br>
          <br><br>
          <div class="ui left pointing label">Buddhism, Christianity, Islam, Judaism, Spirituality, Hinduism, Other</div>
          <br><br> 
          <div class="ui left pointing label">Natural Sciences, Medicine, Social Sciences</div>
          <br><br>
          <div class="ui left pointing label">Personal Journals, Places & Travel, Philosophy, History</div>
          <br><br>   
          <div class="ui left pointing label">Outdoor, Professional, College & High School, Amateur</div>
          <br><br> 
          <br><br> 
          <div class="ui left pointing label">Gadgets, Tech News, Podcasting, Software How-to</div>
          <br><br>    -->                                                       
        </div>

      </div>
 

<!--         </div> -->

<!--         <div class="col">

          <h4>Please select 1 to 8 topics similar to what <span style="color: #1C86EE">you want to listen to</span> </h4>

              <div class="ui divider"></div>

              <br>

              <div class="text-center">
           
              <div class="ui mini search aspiration1">
                <div class="ui icon input">
                  <input style="width:150px" class="prompt" type="text" placeholder="">
                  <i class="search icon"></i>
                </div>
                <div class="results"></div>
              </div>

              </div>

              <br>

              <div class="text-center">

              <div class="ui mini search aspiration2">
                <div class="ui icon input">
                  <input style="width:150px" class="prompt" type="text" placeholder="">
                  <i class="search icon"></i>
                </div>
                <div class="results"></div>
              </div> 

              </div>

              <br>   

              <div class="text-center">          

              <div class="ui mini search aspiration3">
                <div class="ui icon input">
                  <input style="width:150px" class="prompt" type="text" placeholder="">
                  <i class="search icon"></i>
                </div>
                <div class="results"></div>
              </div> 

              </div>

              <br>

          <div class="row">
            <div class="col-xs" style="padding-left: 10px; padding-right: 10px">             
              <div style="text-align:center">1 (most similar)</div>
              <div class="ui mini search aspiration1">
                <div class="ui icon input">
                  <input style="width:150px" class="prompt" type="text" placeholder="">
                  <i class="search icon"></i>
                </div>
                <div class="results"></div>
              </div>
            </div>
            <div class="col-xs" style="padding-left: 10px; padding-right: 10px">             
              <div style="text-align:center">2</div>
              <div class="ui mini search aspiration2">
                <div class="ui icon input">
                  <input style="width:150px" class="prompt" type="text" placeholder="">
                  <i class="search icon"></i>
                </div>
                <div class="results"></div>
              </div>
            </div>
            <div class="col-xs" style="padding-left: 10px; padding-right: 10px">   
              <div style="text-align:center">3</div>
              <div class="ui mini search aspiration3">
                <div class="ui icon input">
                  <input style="width:150px" class="prompt" type="text" placeholder="">
                  <i class="search icon"></i>
                </div>
                <div class="results"></div>
              </div>
            </div>
            <div class="col-xs" style="padding-left: 10px; padding-right: 10px">             
              <div style="text-align:center">4</div>
              <div class="ui mini search aspiration4">
                <div class="ui icon input">
                  <input style="width:150px" class="prompt" type="text" placeholder="">
                  <i class="search icon"></i>
                </div>
                <div class="results"></div>
              </div>
            </div>
            <div class="col-xs" style="padding-left: 10px; padding-right: 10px">             
              <div style="text-align:center">5 (least similar)</div>
              <div class="ui mini search aspiration5">
                <div class="ui icon input">
                  <input style="width:150px" class="prompt" type="text" placeholder="">
                  <i class="search icon"></i>
                </div>
                <div class="results"></div>
              </div>
            </div>
          </div>

          <br><br>

          <div style="color: red">{{errortext}}</div>

          <div>
            <div class="text-center" >
                <button onClick="clickFunction()" class="btn btn-info">Next</button></div>

          </div>
        </div>
       -->
   <!--    </div> -->
    </div>
        
  


  
<!--   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> -->
  <script type="text/javascript">

    var content = [
  { title: 'Arts' },
  { title: 'Comedy' },
  { title: 'Education' },
  { title: 'Kids & Family' },
  { title: 'Health' },
  { title: 'TV & Film' },
  { title: 'Music' },
  { title: 'News & Politics' },
  { title: 'Religion & Spirituality' },
  { title: 'Science & Medicine' },
  { title: 'Sports & Recreation' },
  { title: 'Technology' },
  { title: 'Business' },
  { title: 'Games & Hobbies' },
  { title: 'Society & Culture' },
  { title: 'Government & Organizations' }
  // etc
];

  var historyItems = {};
  var aspirationItems = {};


    $(".list-group .list-group-item").click(function(e) {
      
      var items = document.getElementsByClassName("active");
      // if (items.length < 8){
        $(e.target).toggleClass("active");
      // }
    });

    function clickFunction() {

      var histitems = document.getElementsByClassName("history active");
      histstring = [].map.call( histitems, function(node){
        return node.textContent || node.innerText || "";
      }).join(",");      


      var aspitems = document.getElementsByClassName("active");
      aspstring = [].map.call( aspitems, function(node){
        return node.textContent || node.innerText || "";
      }).join(",");

      console.log(aspstring)
      console.log(histstring)



      window.location.href = '/categories2_pod/' + histstring + '+' + aspstring






      



      
    }
      
  

  </script>

  </div>
    
  </body>
</html>