<!DOCTYPE html>
<html>
    <head>
        <title> IRB Consent Form </title>
         <!-- Bootstrap -->
         <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
         
         <!-- Added styling -->
         <link href='http://fonts.googleapis.com/css?family=Lato:400,700,bold' rel='stylesheet' type='text/css'>
         <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
         
    </head>
    <body>
        <!-- start of consent form -->
        <div style="width: 70%; margin:auto; border: 1px solid black; padding: 20px;">
            <h2 align="middle"> Consent Form for Field Study</h2>
            <br>

            We are asking you to participate in a research study. This form is designed to give you information about this study.  We will describe this study to you and answer any of your questions.  
            <br>
            <br>
            
            <b>Project Title:</b> Immersive Recommendation

            <br>
            <br>

            <b>What the study is about</b><br>
            The purpose of this research is to evaluate the <b>immersive recommendation model</b> and explore the feasibility of using users’ own diverse digital traces, including historically-observed data, to infer and recommend podcast content that a user would be interested in. It is “immersive” as it learns users’ interests from diverse personal data. This new recommendation model has the potential to infer a wide range of interests of a person and to contribute to more personalized user experiences.
            <br>
            <br>
            
            <b>What we will ask you to do</b><br>
            We will ask you to participate in our six week field experiment about podcast recommendations. You will use a secure Android or iPhone app daily to complete this experiment. The experiment consists of two phases:
            <ol class="decimal">
                <li>You will be asked to install a secure mobile app on your existing Android or iPhone device.</li>
                <li>You will be asked to make an account on the mobile app following the login instructions you are provided with. </li>
                <li>You will be asked to use your mobile device to listen to podcast episodes everyday, for six weeks. We encourage you to use the app as much as possible, but we do not require a minimum time of commitment. These podcast episodes are selected by different recommendation algorithms.</li>
                <li>You will be reminded to open the mobile app and listen to podcast episodes through regularly emails and messages.</li>
                <li>After the experiment is over, you will be reminded to delete the app through email.</li>                
            </ol>

            <b>Benefits</b><br>
            Note that there is no direct benefit to you.<br>
            <br>

            <b>Payment for participation</b><br>
            You will receive compensation of $30.00 dollars for your time at the end of the lab and field study. There will also be a bonus of $10.00 dollars for participants actively using the mobile app, above a threshold.
            <br>
            <br>

            <b>Privacy/Confidentiality</b><br>
            The data we will store are your interactions with the Android or iPhone app, including login, save, listen, subscribe and clicks. These data will be encrypted and stored anonymously in a secure server administered by the professionally trained personnel. These derived data will be retained for analysis for up to 24 months to support reporting on results. 
            <br>
            <br>
            All records will only be available to authorized researchers participating in this study and will not be provided to other third party organizations. We anticipate that your participation in this study presents no greater risk than everyday use of the Internet.
            <br>
            <br>

            <b>Taking part is voluntary</b><br>
            Your involvement is voluntary, you may refuse to participate before the study begins, discontinue at any time, or skip any questions/procedures that may make you feel uncomfortable, with no penalty to you, and no effect on your academic standing, record, or relationship with the university or other organization or service that may be involved with the research.
            <br>
            <br>

            <b>If you have questions</b><br>
            The main researcher conducting this study is Longqi Yang, a graduate student at Cornell University. If you have any questions at the time of the study please let us know and we will address your concerns and questions. If you have questions later, you may contact Longqi Yang at ylongqi@cs.cornell.edu or at 607-379-5596. If you have any questions or concerns regarding your rights as a subject in this study, you may contact the Institutional Review Board (IRB) for Human Participants at 607-255-6182 or access their website at http://www.irb.cornell.edu. You may also report your concerns or complaints anonymously through Ethicspoint online at www.hotline.cornell.edu or by calling toll free at 1-866-293-3077. Ethicspoint is an independent organization that serves as a liaison between the University and the person bringing the complaint so that anonymity can be ensured.
            <br>
            You will be given a copy of this form to keep for your records.  

        </div>
        <!-- End of Form -->

        <br>
        <br>
        <br>

        <!-- Control Buttons -->
        <div style="width: 70%; margin:auto; border: 1px solid black; padding: 20px;">
            <b>Statement of Consent</b><br>
            I have read the above information, and have received answers to any questions I asked. I consent to take part in the study.

            This consent form will be kept by the researcher for at least five years beyond the end of the study.
            <br>
            <br>
            <button type="button" class="btn btn-danger" onclick="window.location='/logout'" style="float:left;"> Cancel </button>
            <button type="button" class="btn btn-primary" onclick="window.location='/eligibilityques'" style="float:right;"> Accept and Continue </button>
            <br>
        </div>

    </body>