<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Choose a Category</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
  	<div class="container">
  		<h1 style="text-align: center">Do you like this article?</h1>
  		<div class="row">
  			<div class="col-sm-4"></div>
  			<div class="col-sm-4">
  				<div class="panel panel-default">
  					<div class="panel-heading">{{category.title}}</div>
  					<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere tincidunt nibh commodo condimentum. Sed maximus molestie condimentum. Integer blandit elementum vehicula. Cras non nibh fermentum nisl vulputate scelerisque. Proin elementum nunc at lorem hendrerit ornare. Donec condimentum feugiat metus, quis molestie dui vehicula vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur arcu odio, gravida ut blandit sit amet, suscipit vitae lectus. Praesent commodo quis elit ac laoreet.</div>
  				</div>
  			</div>
  			<div class="col-sm-4"></div>
		</div>
	</div>

  	<div class="container">
  		<div class="row">
  			<div class="col-sm-4"></div>
  			<div class="col-sm-4" style="text-align: center">
  				<div class="social-media">
						<img class="thumbs" border="0" alt="" src="/static/images/thumbup.jpg" style="width: 30%" />
						<img class="thumbs" border="0" alt="" src="/static/images/thumbdown.jpg" style="width: 30%"/>
				</div>
  			</div>
  			<div class="col-sm-4"></div>
		</div>
	</div>	



<!-- 
		<div class="col-sm-3"></div>
		<div class="col-sm-3" style="text-align: center">
			<img class="img-responsive" src="/static/images/thumbup.jpg" alt="" style="width:40%">
		</div>
		<div class="col-sm-3" style="text-align: center">
			<img class="img-responsive" src="/static/images/thumbdown.jpg" alt="" style="width:40%">
		</div>
		<div class="col-sm-3"></div> -->
		




    
  </body>
</html>